@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Poppins", sans-serif;
}
.cont{
  width: 100%;
  height: 100vh;
  position: relative;
}

.contact-page {
  position: absolute;
  z-index: 1000;
  margin-left: 75vh;
  margin-top: -85vh;


  justify-content: center;
  align-items: center;
}

/* Login Section */
.login-box {
  background: white;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  width:30vw;
  text-align: center;
}

.login-box h2 {
  color: #1e3a8a;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-box button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-box button:hover {
  background: #1e40af;
}

/* Contact Section */
.contact-box {
  background: white;
  padding: 5vh 10vh;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  width: 50vw;
margin-left: -10vh;
margin-top: -10vh;
  text-align: center;
}

.contact-box h2 {
  color: #1e3a8a;
  margin-bottom: 10px;
}

.contact-box p {
  color: #475569;
  margin-bottom: 25px;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.row input {
  flex: 1;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
}

textarea {
  resize: none;
  height: 100px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1e40af;
}

.status-msg {
  margin-top: 15px;
  font-weight: 500;
  color: #065f46;
}











@media (max-width: 600px) {
  .cont{
  width: 100%;
  height: 100vh;
  position: relative;
}
.contact-page {
  position: absolute;
  z-index: 1000;
  margin-left: 2.5vh;
  margin-top: -90vh;
  justify-content: center;
  align-items: center;
}

/* Login Section */
.login-box {
  background: white;
  padding: 5vh ;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  width:90vw;
  text-align: center;
}

.login-box h2 {
  color: #1e3a8a;
  margin-bottom: 3vh;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-box button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-box button:hover {
  background: #1e40af;
}

/* Contact Section */
.contact-box {
 
  background: white;
  padding: 5vh;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-left: -0.6vh;

  margin-top: -3vh;
  text-align: center;
}

.contact-box h2 {
  color: #1e3a8a;
  margin-bottom: 10px;
}

.contact-box p {
  color: #475569;
  margin-bottom: 25px;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.row input {
  flex: 1;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
}

textarea {
  resize: none;
  height: 100px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1e40af;
}

.status-msg {
  margin-top: 15px;
  font-weight: 500;
  color: #065f46;
}

}