@import url('https://fonts.cdnfonts.com/css/covington-sc-cond');
.boys{
  font-weight: bold;
  text-align: center;
  margin-top: 10vh;
 font-family: 'Covington SC Cond', sans-serif;
}

.girls{
  font-weight: bold;
  text-align: center;
  margin-top: 10vh;
 font-family: 'Covington SC Cond', sans-serif;
}