@import url('https://fonts.cdnfonts.com/css/covington-sc-cond');


.girls{
   font-size: 5vh;
  font-weight: bold;
  text-align: center;
  margin-top: 10vh;
 font-family: 'Covington SC Cond', sans-serif;
}

@media screen and (max-width: 600px) {
  
.girls{
  font-size: 5vh;
  font-weight: bold;
  text-align: center;
  margin-top: 5vh;
 font-family: 'Covington SC Cond', sans-serif;
}

  .container {
    box-sizing: border-box;
    width: 100% !important;
    padding: 2vh !important;       
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important; 
    gap: 1.2vh !important;
    align-items: start;
  }

  
  .card {
    box-sizing: border-box;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    border-radius: 1.2vh !important;
    overflow: hidden;
    height: auto !important;
    display: block;
    position: relative;
  }

  
  .img {
    display: block;
    width: 100% !important;
    height: 20vh !important;      
    object-fit: cover !important;
    border-radius: 1.2vh 1.2vh 0 0 !important;
  }

  .brand { font-size: 2.3vh !important; text-align: center; margin: 6px 4px 0; }
  .title { font-size: 1.8vh !important; text-align: center; color: #555; margin: 2px 6px; }
  .price { font-size: 2.5 !important; display:flex; justify-content:left; gap:1vh; margin-bottom:vh; }

 
  .atc{
    width: 100% !important;
    height: 5vh !important;
    margin-top: 0.5vh !important;
  }
 
  
  .wis {
  position: absolute;
  width: 1vh;
  height: 1vh;
 margin-top:29vh !important;
  margin-left:14vh !important;
  background: none !important;
  border: none !important;
  cursor: pointer;
  z-index: 100;
  
}
}