
body{
   margin: 0;
  padding: 0;
  height: 100%;
}

.log{
  position: absolute;
  z-index: 10;
width:62vw;
height: 90vh;
 margin-top: -83vh;
margin-left: 8vh;


}
.form {
  position: relative;
  background:rgb(238, 233, 224);
  width: 100%;
  padding: 5vh;
 
  box-shadow: 0 4vh 15vh rgba(0, 0, 0, 0.1);


  transition: transform 0.3s ease;
}

.form:hover {
  transform: translateY(-5px);
}


.welcome {
  font-size: 5vh;
  font-weight:bold;
  color: #111;
 margin-right: 15vh;
}

.subtitle {
  color: #666;
  font-size: 3vh;
  margin-left: 5vh;
}

/* ===== Input Fields ===== */
input,
select {
  width: 30%;
  padding: 1.70vh 2vh;
  border: 1px solid #ccc;
  border-radius: 1.5vh;
  font-size: 0.95rem;
  transition: 0.2s;
}

input:focus,
select:focus {
  outline: none;
  border-color: #ff5b9e;
  box-shadow: 0 0 4px rgba(255, 91, 158, 0.5);
}

/* ===== Button ===== */
.login {
  width: 30%;
  background: linear-gradient(90deg, #ff5b9e, #ff7eb3);
  color: #fff;
  border: none;
  padding: 12px 0;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
}

.login:hover {
  background: linear-gradient(90deg, #ff3b89, #ff6fa7);
  transform: scale(1.03);
}

/* ===== Logged-In Box ===== */

.log2{

width:100%;
height: 80vh;
margin-top: 3vh;
position: relative;

}
.welcome{
  font-size: 7vh;
  z-index: 1000;
  color: #222;
 position: absolute; 
 margin-left: 120vh;
 margin-top: -70vh;
}

.subtitle{
  color: #555;
  font-size: 4vh;
 margin-top: -60vh;
  z-index: 10;
   position: absolute;
   margin-left: 132vh;
}


.logout {
  background: #222;
  color: #fff;
  padding: 1.5vh 3vh;
  border-radius: 3vh;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  margin-left: -60vh;
  margin-top: 32vh;
  width: fit-content;
 position: absolute;
      z-index: 1000;
}

.logout:hover {
  background: #000;
  transform: scale(1.05);
}
