


.form {
 
  padding: 10vh 0;
  border-radius:2vh;
  box-shadow: 0 2vh 5vh rgba(4, 4, 4, 0.15);
  width: 70%;
  text-align: center;
  margin-left: 30vh;
}

.welcome {
  color: #211f1f;
  margin-bottom: 2vh;
   font-size: 5vh;
}

.subtitle {
  color: #484747;
  font-size: 3vh;
  margin-bottom:5vh;
}

/* Input fields */
.login-form input,
.login-form select {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.login-form input:focus,
.login-form select:focus {
  border-color: #ff4081;
  box-shadow: 0 0 6px rgba(255, 64, 129, 0.3);
}


.login{
  width: 30%;
  background: #ff4e50;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login:hover {
  background: #e03e3f;
}
.box {
  text-align: center;
  margin-top: 100px;
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logout {
  background-color: #ff4b4b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s;
}

.logout:hover {
  background-color: #e60000;
}
