@import url('https://fonts.cdnfonts.com/css/covington-sc-cond');

body{
  margin: 0;
   padding: 0;
 height: 100%;
  
}

.wish {
  position: absolute;
 margin-top: 56vh !important;
  margin-left:16vh !important;
  background: none !important;
  border: none !important;
  cursor: pointer;
  z-index: 10;
  
}


.tshirts{
  font-weight: bold;
  text-align: center;
  margin-top: 20vh;
 font-family: 'Covington SC Cond', sans-serif;
                                                
}
.formals{
  font-weight: bold;
  text-align: center;
  margin-top: 5vh;
  font-family: 'Covington SC Cond', sans-serif;
}
.casuals{
  font-weight: bold;
  text-align: center;
  margin-top: 5vh;
font-family: 'Covington SC Cond', sans-serif;
}
.jeans{
  font-weight: bold;
  text-align: center;
  margin-top: 5vh;
font-family: 'Covington SC Cond', sans-serif;
}
.atc{
   border: none;
  width:20vw;
  height: 6vh;
  margin-top: -2vh;
}

 

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5vh;
  padding: 10vh;
  background: #fafafa;
}

.card {
  background: #fff;
  border-radius: 5vh;
  overflow: hidden;
 
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}



.img {
  width: 100%;
  height: 50vh;
 
}


.brand {
  margin: 10px 12px 0 12px;
  font-size: 16px;
  font-weight: 600;
  color: #111;
}

.title {
  margin: 4px 12px 10px 12px;
  font-size: 13px;
  color: #444;
}

.price {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0 12px 15px 12px;
}

.price {
  font-weight: bold;
  color: #111;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 13px;
}

.discount {
  color: rgb(198, 66, 247);
  font-weight: 600;
  font-size: 13px;
}














@media screen and (max-width: 600px) {

  .container {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 1vh !important;
    padding: 2vh !important;
  }

  .card {
    position: relative !important;
    border-radius: 1.2vh !important;
    overflow: hidden !important;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .img {
    width: 100% !important;
    height: 25vh !important;
    object-fit: cover !important;
  }

  .brand, .title {
    text-align: center !important;
  }

  .atc {
    width: 100% !important;
    height: 5vh !important;
    font-size: 1.8vh !important;
  }

  .wis {
    position: absolute !important;
    top: -1vh !important;
    right: 2.5vh !important;
    background: none !important;
    border: none !important;
    width: 0.2vh !important;
    height: 0.2vh !important;
    cursor: pointer !important;
  }
  .brand { font-size: 2.3vh !important; text-align: center; margin: 6px 4px 0 !important; }
  .title { font-size: 1.8vh !important; text-align: center; color: #555; margin: 2px 6px !important; }
  .price { font-size: 2.5 !important; display:flex; justify-content:left; gap:0.6vh !important; }


  h1.formals, h1.casuals, h1.jeans {
    font-size: 5vh !important;
    margin-top: 3vh !important;
    text-align: center !important;
  }
   h1.tshirts{
     font-size: 5vh !important;
    margin-top: 15vh !important;
    text-align: center !important;
   }
}
