@import url('https://fonts.cdnfonts.com/css/covington-sc-cond');

body{
  margin: 0;
   padding: 0;
 height: 100%;
  
}



.tshirts{
  font-weight: bold;
  text-align: center;
  margin-top: 20vh;
 font-family: 'Covington SC Cond', sans-serif;
                                                
}
.formals{
  font-weight: bold;
  text-align: center;
  margin-top: 5vh;
  font-family: 'Covington SC Cond', sans-serif;
}
.casuals{
  font-weight: bold;
  text-align: center;
  margin-top: 5vh;
font-family: 'Covington SC Cond', sans-serif;
}
.jeans{
  font-weight: bold;
  text-align: center;
  margin-top: 5vh;
font-family: 'Covington SC Cond', sans-serif;
}
.atc{
   border: none;
  width:20vw;
  height: 6vh;
  margin-top: -2vh;
}

  .wis{
    border: none;
   width:"5vw";
    height:"5vh";
   margin-left: 32vh;
   margin-top:2vh;
background:none;
position: absolute;
  }

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5vh;
  padding: 10vh;
  background: #fafafa;
}

.card {
  background: #fff;
  border-radius: 5vh;
  overflow: hidden;
 
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}



.img {
  width: 100%;
  height: 50vh;
 
}


.brand {
  margin: 10px 12px 0 12px;
  font-size: 16px;
  font-weight: 600;
  color: #111;
}

.title {
  margin: 4px 12px 10px 12px;
  font-size: 13px;
  color: #444;
}

.price {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0 12px 15px 12px;
}

.price {
  font-weight: bold;
  color: #111;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 13px;
}

.discount {
  color: blue;
  font-weight: 600;
  font-size: 13px;
}
