@import url('https://fonts.cdnfonts.com/css/mommy-lemon');
@import url('https://fonts.cdnfonts.com/css/saphira-demo');

















  /* DESKTOP DEFAULT */
.navbar-container {
  width: 100%;
}

/* DESKTOP HEADER HIDDEN ON MOBILE */
.mobile-header {
  display: none;
}

.hamburger {
  display: none;
  font-size: 6vh;
  cursor: pointer;
}

.bf {
  display: none;
  text-decoration: none;
  color: black;
  font-family: 'Mommy Lemon', sans-serif;
  font-size: 5vh;
}

.list {
  display: flex;
  gap: 8vh;
  list-style: none;
  margin-left: 5vh;
 
}
.nav1 a{
  font-family: 'Mommy Lemon', sans-serif; 
  font-size: 9vh;
  color: black;
  
  
}
.nav2 a{ 
 margin-left: 25vh; 
 font-size: 2.6vh;
  font-weight: bold;
  color: black;
  font-family: 'Saphira DEMO', sans-serif;
 
}
.nav2,.nav3,.nav4,.nav5,.nav6,.nav7{
 margin-top: 5vh !important;
}
.nav3 a{ 
 font-size: 2.6vh;
  font-weight: bold;
  color: black;
font-family: 'Saphira DEMO', sans-serif;
}
.nav4 a{ 
 font-size: 2.6vh;
  font-weight: bold;
  color: black;
   font-family: 'Saphira DEMO', sans-serif; 
}
.nav5 a{ 
 font-size: 2.6vh;
  font-weight: bold;
  color: black;
    font-family: 'Saphira DEMO', sans-serif;
}
.nav6 a{ 
 font-size: 2.6vh;
  font-weight: bold;
  color: black;
    font-family: 'Saphira DEMO', sans-serif;
}
.nav7 a{ 
 font-size: 2.6vh;
  font-weight: bold;
  color: black;
    font-family: 'Saphira DEMO', sans-serif;
}
.Login {
  align-items: center;
  gap: 1vh;
  background: none;
  cursor: pointer;
  font-size: 2.6vh;
  margin-top: 5vh;
  font-weight: bold;
  color: black;
   font-family: 'Saphira DEMO', sans-serif;
}
.login span {
  font-size: 2.5vh;
  font-weight: bold;
  color: black;
    font-family: 'Saphira DEMO', sans-serif;
}

/* MOBILE MENU DEFAULT */
.mobile-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s;
  background: white;
}

.mobile-menu.open {
  display: block;
  max-height: 600px;
}
a {
  text-decoration: none !important;
}













@media (max-width: 600px) {

  /* show mobile header */
  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
  }
  
  /* logo */
  .bf {
    display: block;
    font-size: 4vh;
    margin-left: 3vh;
  }

  /* show hamburger */
  .hamburger {
    display: block;
    font-size: 4vh;
  }

  /* hide desktop menu */
  .navbar {
    display: none;
  }

  /* SHOW mobile menu */
  .mobile-menu {
    display: block;
    width: 100%;
  }

  .mobile-menu li {
    padding: 18px;
    font-size: 18px;
    border-bottom: 1px solid #ececec;
  }

  .mobile-menu li a {
    text-decoration: none;
    color: black;
  }
  a {
  text-decoration: none !important;
}
.list{
  display: none;
}
}
