@import url('https://fonts.cdnfonts.com/css/mommy-lemon');
@import url('https://fonts.cdnfonts.com/css/saphira-demo');

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  display: flex;
  margin-top: 3vh;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 1000;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10vh;
  margin-left:10h;
  padding: 0;
  
                                      
}

.list li a {
  
  text-decoration: none;
  color:black;
  font-weight: bold;
}

.list li a:hover {
  color: #f39c12;
}

.nav1{
  font-family: 'Mommy Lemon', sans-serif; 
  font-size: 4vh;
  margin-left: 10vh;
}
.nav2{ 
 margin-left: 40vh; 
 font-size: 2.5vh;
  font-weight: bold;
  color: black;
  font-family: 'Saphira DEMO', sans-serif;
}
.nav3{ 
 font-size: 2.5vh;
  font-weight: bold;
  color: black;
font-family: 'Saphira DEMO', sans-serif;
}
.nav4{ 
 font-size: 2.5vh;
  font-weight: bold;
  color: black;
   font-family: 'Saphira DEMO', sans-serif; 
}
.nav5{ 
 font-size: 2.5vh;
  font-weight: bold;
  color: black;
    font-family: 'Saphira DEMO', sans-serif;
}
.nav6{ 
 font-size: 2.5vh;
  font-weight: bold;
  color: black;
    font-family: 'Saphira DEMO', sans-serif;
}
.nav7{ 
 font-size: 2.5vh;
  font-weight: bold;
  color: black;
    font-family: 'Saphira DEMO', sans-serif;
}
/* Login section */
.Login {
  display: flex;
  align-items: center;
  gap: 1vh;
  background: none;
  cursor: pointer;
  font-family: 'Saphira DEMO', sans-serif;
}
.login span {
  font-size: 2.5vh;
  font-weight: bold;
  color: black;
}

























@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .list {
    flex-direction: column;
    
  }

  .login {
    margin-top: 10px;
  }
}
