
                
     body { 
  margin: 0;
   padding: 0;
 height: 100%;
  }
  .nav{
   
   margin-left: 15vh;
    margin-top: 8vh;
  }
.nav1{
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: black;
  text-decoration: none;
}
.nav2{
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: black;
  margin-left: 30vh;
  text-decoration: none;
}
.nav3{
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: black;
  margin-left: 15vh;
  text-decoration: none;
}
.nav4{
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: black;
  margin-left: 15vh;
  text-decoration: none;
}
.nav5{
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: black;
 margin-left: 15vh;
  text-decoration: none;
}
.nav6{
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: black;
 margin-left: 15vh;
  text-decoration: none;
}
.nav7{
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: black;
  margin-left: 15vh;
  text-decoration: none;
}
.nav8{
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: black;
 margin-left: 15vh;
  text-decoration: none;
}
.men{
  margin-left: -1vh;
}
.AC{
  margin-left: 1vh
}
.W{
  margin-left: 1vh;
}